@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
/*
.rufina-regular {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

.rufina-bold {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}
 */

@font-face {
    font-family: 'POORICH';
    src: url('./fonts/POORICH.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* POOR RICHARD */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* PRETENDARD */


html,
body {
    font-size: 62.5%;
}

/* 
 body::-webkit-scrollbar {
    display: none;
}  */

.header {
    width: 100%;
    height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    transform: translateY(0);
    transition: 0.7s;
    background-color: #fff;


    &.active {
        transform: translateY(-100%);


    }

    .inner {
        max-width: 176rem;
        width: calc(100% - 60px);
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        .mobile {
            order: -1;
            width: 34%;
            height: 100vh;
            clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
            background-color: #203163;
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-100%);
            transition: 0.7s;

            &.active {
                transform: translateX(0);
            }

            .mobile_inner {
                padding: 0 clamp(3rem, 2.5vw, 8rem);
                margin: 0 auto;


                .mobile_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 9rem;


                    h2 {
                        font-family: "Rufina", serif;
                        font-size: clamp(2rem, 2.5vw, 4.2rem);
                        white-space: nowrap;

                    }

                    .menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                        height: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .mobile_info {
                    margin-top: 4rem;

                    .mobile_gnb {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 2rem;

                        .depth-01 {
                            font-family: 'POORICH';
                            display: block;
                            font-size: clamp(3rem, 3.8vw, 7.8rem);
                            margin-bottom: 3rem;

                            &:hover {
                                color: #FECB73;
                            }

                            &.active {
                                color: #FECB73;
                            }
                        }

                        .depth-02 {
                            display: none;

                            li {
                                font-size: clamp(2rem, 2vw, 4rem);
                                color: rgba(255, 255, 255, 0.7);
                                margin-bottom: 2rem;
                                padding-left: 2rem;

                                a {
                                    display: block;

                                }

                                &:hover {
                                    color: #fff;
                                }
                            }

                        }
                    }
                }

            }


        }

        .logo {
            max-width: clamp(16rem, 1.29vw + 11.51rem, 18rem);
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }

        .nav {
            font-family: 'POORICH';
            order: -1;

            .menu {
                display: flex;
                align-items: center;

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                    height: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    font-size: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                    color: #203163;
                }
            }
        }


        .option {
            display: flex;
            gap: 1rem;

            a {
                display: block;
                width: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                height: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}



.main {
    .main_visual {
        width: 100%;
        position: relative;

        .inner {

            /*max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto; */


            .title_box {
                padding-top: 15rem;

                h2 {
                    font-family: "Rufina", serif;
                    font-size: clamp(6rem, 9vw, 16.4rem);
                    text-align: center;
                    color: #203163;
                    white-space: nowrap;
                    display: block;
                    margin-bottom: 2rem;
                }

                p {

                    font-family: 'POORICH';
                    font-size: clamp(3rem, 2vw, 4.2rem);
                    text-align: center;
                    color: #203163;
                    white-space: nowrap;
                }
            }

            .item_box {
                width: 100%;
                display: flex;
                /* margin: 3rem 0; */
                justify-content: space-between;


                .image {

                    width: 25%;
                    animation: updown 2s ease-in-out infinite;
                    position: relative;

                    .shadow {
                        position: absolute;
                        bottom: -1rem;
                        left: 56%;
                        transform: translateX(-50%);
                        width: 70%;
                        height: 1.5rem;
                        background: rgba(0, 0, 0, 0.7);
                        border-radius: 50%;
                        filter: blur(5px);
                        animation: shadowPulse 2s ease-in-out infinite;
                        z-index: 1;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .left {
                    margin-left: 4rem;

                    img {
                        transform: rotate(-10deg);
                    }
                }

                .right {
                    margin-right: 4rem;

                    .shadow {
                        left: 44%;
                    }

                    img {
                        transform: rotate(10deg);
                    }
                }

            }

            .video_wrap {
                position: sticky;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                /* transform: translateY(-50%);  */


                .video {
                    max-width: 192rem;
                    width: 35%;
                    margin: 0 auto;
                    transition: none;


                    video {
                        border-top-left-radius: 2rem;
                        border-top-right-radius: 2rem;
                        overflow: hidden;
                        width: 100%;
                        height: auto;
                        display: block;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    .section-01 {
        padding-top: clamp(12rem, 18vh + 2.2rem, 20rem);
        background-color: #203163;
        height: 300rem;
        position: relative;

        &::after {
            content: '';
            background: url('../img/Group\ 145.png') center center / cover no-repeat;
            position: absolute;
            bottom: -12.4rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;
            position: relative;
            height: 100%;

            .text_wrap {
                position: absolute;
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                display: flex;
                align-items: center;
                height: 100%;
                padding-bottom: 15rem;
                /* gap: 52rem; */


                .text {
                    position: sticky;
                    /* position: absolute; */
                    top: 16rem;
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: clamp(4rem, 3vw + 2.3rem, 8.5rem);
                    /* margin-bottom: 10rem; */
                    opacity: 0;
                    word-break: keep-all;

                    &.first {
                        opacity: 1;
                    }

                    &.second {}

                    &.third {}


                    h3 {
                        font-family: 'POORICH';
                        font-size: clamp(2.8rem, 2.5vw + 1.5rem, 8rem);
                        font-weight: 500;
                        color: #FECB73;
                        letter-spacing: 0.3rem;

                    }

                    h4 {
                        font-family: 'Pretendard-Regular';
                        font-size: clamp(2rem, 2vw + 1rem, 3.2rem);
                        font-weight: 600;
                        line-height: 1.5;
                        -webkit-text-fill-color: rgb(255, 255, 255, 0.3);
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-repeat: no-repeat;
                        background-image: linear-gradient(#fff, #fff);
                        background-size: 0% 100%;
                        display: block;
                        padding: 0 3rem;
                        letter-spacing: 0.1rem;
                        mix-blend-mode: difference;
                    }

                }
            }

            .image_wrap {
                img {
                    width: 35%;
                    position: absolute;
                    border-radius: 2rem;

                    &.img1 {
                        right: 5%;
                        top: 10%;
                        opacity: 0.4;
                        transform: rotate(-8deg);
                    }

                    &.img2 {
                        left: 5%;
                        top: 25%;
                        transform: rotate(-8deg);
                        opacity: 0.9;
                    }

                    &.img3 {
                        right: 10%;
                        top: 40%;
                        transform: rotate(4deg);

                    }

                    &.img4 {
                        left: 5%;
                        top: 45%;
                        opacity: 0.7;

                    }

                    &.img5 {
                        left: 50%;
                        top: 60%;
                        opacity: 0.7;
                        transform: rotate(-4deg);
                    }

                    &.img6 {
                        right: 7%;
                        top: 80%;
                        opacity: 0.8;
                    }

                    &.img7 {
                        left: 10%;
                        top: 82%;
                    }

                    &.img8 {
                        left: 8%;
                        top: 65%;
                        opacity: 0.8;
                    }
                }
            }
        }

    }



    .section-02 {
        margin-top: clamp(12rem, 18vh + 2.2rem, 20rem);
        height: 100vh;
        position: relative;


        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;
            position: relative;
            height: 100%;

            .image {
                width: 100%;
                position: absolute;
                top: 0;
            
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.5;
                }
            }

            .scroll_wrap {
                height: 250vh;
                display: flex;
                gap: 15rem;
                
                
                
                .fixed_left {
                    
                    flex: 1;
                    position: sticky;
                    top: 30%;
                    align-self: flex-start;

                    .text {
                        padding-top: 7rem;
                        padding-left: 7rem;
                        width: 100%;
                        h3:last-child {
                            padding-left: 15rem;
                        }

                        h3 {
                            display: block;
                            width: 100%;
                            font-family: 'POORICH';
                            font-size: 12rem;
                            color:#203163;
                        }
                    }
                }

                .scroll_right {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    gap: 10rem;

                    .rev {
                        margin-top: 10rem;
                        font-family: 'Pretendard-Regular';
                        font-size: 7.2rem;
                        color:rgba(0, 0, 0, 0.2)
                    }
                }
                

            }

           
                
               
            
        }

    }

    .section-03 {
        height: 300rem;
    }



}





@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shadowPulse {
    0% {
        transform: scale(0.9) translateX(-50%);
        opacity: 0.8;
    }

    50% {
        transform: scale(0.8) translateX(-50%);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.9) translateX(-50%);
        opacity: 0.8;
    }
}






/* 태블릿 max */
@media screen and (max-width: 1024px) {
    .header {
        .inner {
            .mobile {
                width: 50%;
            }
        }
    }

    .main {
        .section-01 {
            .inner {
                .text_wrap {
                    .text {
                        width: 70%;
                    }
                }

                .image_wrap {
                    img {
                        width: 40%;

                        &.img7 {
                            left: 10%;

                        }
                    }
                }
            }
        }
    }
}

/* 모바일 max */
@media screen and (max-width: 768px) {
    .header {
        .inner {
            .mobile {
                width: 50%;
            }
        }
    }
}



@media screen and (max-width: 500px) {
    .header {
        .inner {

            .logo {
                display: none;
            }

            .mobile {
                width: 55%;
            }
        }
    }

    .main {
        .section-01 {
            .inner {
                .text_wrap {
                    .text {
                        width: 90%;
                    }
                }

                .image_wrap {
                    img {
                        width: 70%;

                        &.img1 {
                            top: 7%;
                        }

                        &.img2 {
                            top: 21%;
                        }

                        &.img3 {
                            top: 32%;
                        }

                        &.img4 {
                            top: 42%;
                        }

                        &.img5 {
                            left: 22%;
                            top: 5%;
                        }

                        &.img6 {

                            top: 75%;
                        }

                        &.img7 {

                            top: 86%;
                        }

                        &.img8 {

                            top: 55%;
                        }
                    }
                }
            }
        }
    }
}