@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
/*
.rufina-regular {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

.rufina-bold {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}
 */

@font-face {
    font-family: 'POORICH';
    src: url('./fonts/POORICH.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Vogue';
    src: url('./fonts/Vogue.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}



/* POOR RICHARD */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PRETENDARD */


html,
body {
    font-size: 62.5%;

}

/* 
 body::-webkit-scrollbar {
    display: none;
}  */

body {
    cursor: url('../img/cursor.png') 16 16, auto;
}

a:hover,
button:hover {
    cursor: url('../img/cursorclick.png') 16 16, auto;
}

/* .cursor {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translate(-50%, -50%);
    pointer-events: none; 

    &::before {
        content: '';
        font-size: 2rem;
        padding: 2rem;
        border-radius: 50%;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        mix-blend-mode: difference;
        background-image: linear-gradient(#fff, #fff);
        display: none;
        
    }

    &.active {
        width: 8rem;
        height: 8rem;
        mix-blend-mode: difference;
        background-image: linear-gradient(#fff, #fff);
    }
}
 */
.header {
    width: 100%;
    height: 9rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    transform: translateY(0);
    transition: 0.7s;
    background-color: #fff;


    &.active {
        transform: translateY(-100%);


    }

    .inner {
        max-width: 176rem;
        width: calc(100% - 60px);
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        .mobile {
            order: -1;
            width: 34%;
            height: 100vh;
            clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
            background-color: #203163;
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-100%);
            transition: 0.7s;

            &.active {
                transform: translateX(0);
            }

            .mobile_inner {
                padding: 0 clamp(3rem, 2.5vw, 8rem);
                margin: 0 auto;


                .mobile_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 9rem;


                    h2 {
                        font-family: "Rufina", serif;
                        font-size: clamp(2rem, 2.5vw, 4.2rem);
                        white-space: nowrap;

                    }

                    .menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                        height: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .mobile_info {
                    margin-top: 4rem;

                    .mobile_gnb {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 2rem;

                        .depth-01 {
                            font-family: 'POORICH';
                            display: block;
                            font-size: clamp(3rem, 3.8vw, 7.8rem);
                            margin-bottom: 3rem;

                            &:hover {
                                color: #FECB73;
                            }

                            &.active {
                                color: #FECB73;
                            }
                        }

                        .depth-02 {
                            display: none;

                            li {
                                font-size: clamp(2rem, 2vw, 4rem);
                                color: rgba(255, 255, 255, 0.7);
                                margin-bottom: 2rem;
                                padding-left: 2rem;

                                a {
                                    display: block;

                                }

                                &:hover {
                                    color: #fff;
                                }
                            }

                        }
                    }
                }

            }


        }

        .logo {
            max-width: clamp(16rem, 1.29vw + 11.51rem, 18rem);
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }

        .nav {
            font-family: 'POORICH';
            order: -1;

            .menu {
                display: flex;
                align-items: center;

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                    height: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                p {
                    font-size: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                    color: #203163;
                }
            }
        }


        .option {
            display: flex;
            gap: 1rem;

            a {
                display: block;
                width: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);
                height: clamp(3rem, 0.38vw + 2.85rem, 3.6rem);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}



.main {
    .main_visual {
        width: 100%;
        position: relative;

        .inner {

            /*max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto; */


            .title_box {
                padding-top: clamp(11rem, 5vw + 5rem, 15rem);
                position: relative;


                h2 {
                    font-family: "Rufina", serif;
                    font-size: clamp(6rem, 9vw, 16.4rem);
                    text-align: center;
                    color: #203163;
                    white-space: nowrap;
                    display: block;
                    margin-bottom: 2rem;
                }

                p {

                    font-family: 'POORICH';
                    font-size: clamp(3rem, 2vw, 4.2rem);
                    text-align: center;
                    color: #203163;
                    white-space: nowrap;
                }
            }

            .item_box {
                width: 100%;
                display: flex;
                /* margin: 3rem 0; */
                justify-content: space-between;

                .image {

                    width: 25%;
                    animation: updown 2s ease-in-out infinite;
                    position: relative;

                    .shadow {
                        position: absolute;
                        bottom: -1rem;
                        left: 56%;
                        transform: translateX(-50%);
                        width: 70%;
                        height: 1.5rem;
                        background: rgba(0, 0, 0, 0.7);
                        border-radius: 50%;
                        filter: blur(5px);
                        animation: shadowPulse 1s ease-in-out infinite;
                        z-index: 1;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .left {
                    margin-left: 4rem;

                    &:hover {
                        & img {
                            transform: rotate(0);
                        }
                    }

                    img {
                        transform: rotate(-10deg);
                        transition: 0.3s;
                    }


                }

                .right {
                    margin-right: 4rem;

                    .shadow {
                        left: 44%;
                    }

                    img {
                        transform: rotate(10deg);
                    }
                }

            }

            .video_wrap {
                position: sticky;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                &::after {
                    content: 'Scroll';
                    font-size: clamp(1.8rem, 1.5vw + 1rem, 2.0rem);
                    position: absolute;
                    top: -6rem;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0.7;
                    animation: scrollmoves 1s linear infinite;
                }



                &::before {
                    content: '';
                    position: absolute;
                    top: -3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background: url('../img/Group 4.png')center center / 100% no-repeat;
                    width: 2rem;
                    height: 2rem;
                    opacity: 0.7;
                    animation: scrollmove 1s linear infinite;
                }


                /* transform: translateY(-50%);  */


                .video {
                    max-width: 192rem;

                    width: 35%;
                    margin: 0 auto;
                    transition: none;


                    video {
                        border-top-left-radius: 2rem;
                        border-top-right-radius: 2rem;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    .section-01 {
        padding-top: clamp(12rem, 18vh + 2.2rem, 20rem);
        background-color: #203163;
        height: 300rem;
        width: 100%;
        position: relative;

        &::after {
            content: '';
            background: url('../img/Group\ 145.png') center center / cover no-repeat;
            position: absolute;
            bottom: -12.4rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;
            position: relative;
            height: 100%;

            .text_wrap {
                position: absolute;
                width: 100%;
                text-align: center;

                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                padding-bottom: 15rem;
                /* gap: 52rem; */


                .text {
                    position: sticky;
                    /* position: absolute; */
                    top: 16rem;
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: clamp(2rem, 3vw + 2.3rem, 8.5rem);
                    /* margin-bottom: 10rem; */
                    opacity: 0;
                    word-break: keep-all;

                    &.first {
                        opacity: 1;
                    }

                    &.second {}

                    &.third {}


                    h3 {
                        font-family: 'POORICH';
                        font-size: clamp(2.8rem, 2.5vw + 1.5rem, 8rem);
                        font-weight: 500;
                        color: #FECB73;
                        letter-spacing: 0.3rem;

                    }

                    h4 {
                        font-family: 'Pretendard-Regular';
                        font-size: clamp(2rem, 2vw + 1rem, 3.2rem);
                        font-weight: 600;
                        line-height: 1.5;
                        -webkit-text-fill-color: rgb(255, 255, 255, 0.3);
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-repeat: no-repeat;
                        background-image: linear-gradient(#fff, #fff);
                        background-size: 0% 100%;
                        display: block;
                        padding: 0 3rem;
                        letter-spacing: 0.1rem;
                        mix-blend-mode: difference;
                    }

                }
            }

            .image_wrap {
                margin-top: 25rem;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: center;
                gap: 20rem;

                .left_box {
                    transform: rotate(-6deg) translateX(-20%);
                }

                .right_box {
                    transform: rotate(6deg) translateX(20%);

                    .img1 {
                        transform: rotate(-4deg);
                    }
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20rem;

                    img {
                        width: 100%;
                        /* position: absolute; */
                        border-radius: 2rem;
                        opacity: 0.7;
                    }
                }


            }
        }

    }

    .section-02 {
        margin-top: clamp(12rem, 18vh + 2.2rem, 20rem);
        height: 300vh;
        position: relative;


        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;
            position: relative;
            height: 100%;


            .scroll_wrap {
                height: 230vh;
                display: flex;
                flex-wrap: wrap;
                gap: 5rem;


                .fixed_left {
                    flex: 1;
                    position: sticky;
                    top: 7%;
                    align-self: flex-start;
                    z-index: 5;
                    height: 32rem;


                    &:hover {
                        &::after {
                            opacity: 1;
                        }

                    }

                    &::after {
                        content: '';
                        width: 100%;
                        height: 80rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        background: url('../img/image 17.png') 80% center / cover no-repeat;
                        transform: 0.3s;
                    }

                    .text {
                        position: absolute;
                        bottom: 0;
                        text-align: center;
                        padding-top: 7rem;
                        padding-left: 7rem;
                        width: 100%;

                        /*                         h3:last-child {
                            padding-left: clamp(5rem, 9vw, 15rem);
                        } */

                        h3 {
                            display: block;
                            width: 100%;
                            font-family: 'POORICH';
                            font-size: clamp(6rem, 9vw, 7.2rem);
                            color: #fff;
                        }
                    }
                }

                .scroll_right {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    gap: 8rem;
                    z-index: 6;

                    .rev:last-child {
                        position: relative;
                        margin-top: 16rem;
                        font-size: 14rem;
                        background-image: linear-gradient(to left, #203163 20%, #FECB73 80%);
                        word-break: keep-all ;

                        &::after {
                            content: 'TRUST';
                            background-clip: text;
                            -webkit-background-clip: text;
                            background-repeat: no-repeat;
                            -webkit-text-fill-color: rgb(0, 0, 0, 0.2);
                            background-image: linear-gradient(to left, #ff0707 20%, #FECB73 80%);
                            background-size: 0% 100%;
                        }

                    }

                    .rev {
                        margin-top: 8rem;
                        font-family: 'Vogue';
                        font-size: clamp(4rem, 6vw + 1rem, 7.2rem);
                        font-weight: 500;
                        background-clip: text;
                        -webkit-background-clip: text;
                        background-repeat: no-repeat;
                        -webkit-text-fill-color: rgb(0, 0, 0, 0.2);
                        background-image: linear-gradient(to right, #203163, #FECB73);
                        background-size: 0% 100%;
                        word-break: keep-all;

                        span {
                            font-family: 'Pretendard-Regular';
                            -webkit-text-fill-color: rgb(255, 255, 255, 0);

                            -webkit-background-clip: text;
                            font-weight: 500;
                            font-size: clamp(2.8rem, 6vw + 1rem, 4.8rem);
                        }
                    }
                }


            }





        }

    }

    .section-03 {
        padding: clamp(12rem, 18vh + 2.2rem, 20rem) 0;
        background-color: #203163;
        position: relative;


        &::after {
            content: '';
            background: url("../img/Group 145 (1).png") center center/cover no-repeat;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21rem;
            top: -7.2rem;
            left: 50%;
            transform: translateX(-50%);

        }

        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;
            position: relative;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1.8rem;
                margin-bottom: 3rem;


                h3 {
                    display: flex;
                    white-space: nowrap;
                    font-family: 'POORICH';
                    font-size: clamp(3.6rem, 2.5vw + 1.5rem, 8rem);
                    font-weight: 500;
                    color: #FECB73;
                    letter-spacing: 0.3rem;
                }

                p {
                    display: block;
                    padding: 0 2.4rem;
                    font-family: 'Pretendard-Regular';
                    color: rgba(255, 255, 255, 0.6);
                    font-size: clamp(1.6rem, 1vw + 0.5rem, 1.8rem);
                    line-height: 1.4;
                    word-break: keep-all;
                }



            }

            .item_wrap {
                display: flex;
                justify-content: center;
                gap: 5rem;
                flex-wrap: wrap;




                .item {
                    width: 45%;
                    border-radius: 2rem;
                    overflow: hidden;
                    position: relative;

                    &:hover {
                        .text {
                            opacity: 1;
                        }

                        .image {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }

                    .image {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(1);
                            transition: 0.4s
                        }
                    }

                    .text {
                        display: flex;
                        justify-content: flex-end;
                        padding-bottom: 5rem;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background-image: linear-gradient(to bottom, #ffffff05 20%, #00000083 80%);
                        /* background-color: rgba(0, 0, 0, 0.6); */
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        gap: 1.6rem;
                        transform: translate(-50%, -50%);
                        transition: 0.4s;

                        p {
                            font-size: clamp(2.2rem, 2vw + 1rem, 3.2rem);
                            font-weight: 500;
                            color: #fff;
                            white-space: nowrap;
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            border: 1px solid #fff;
                            align-items: center;
                            padding: 0.8rem 1.5rem;
                            border-radius: 4.3rem;


                            span {
                                display: block;
                                font-size: 1.6rem;
                                color: #fff;


                            }

                            img {
                                display: block;
                                width: 2.5rem;
                                height: 2.5rem;

                            }
                        }
                    }


                }
            }
        }
    }

    .section-04 {
        padding-bottom: clamp(12rem, 18vh + 2.2rem, 20rem);
        position: relative;
        background-color: #203163;

        &::after {
            content: '';
            background: url('../img/Group 145.png') center center / cover no-repeat;
            position: absolute;
            bottom: -14.4rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 18rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;
            position: relative;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1.8rem;
                margin-bottom: 10rem;

                h3 {
                    display: flex;
                    white-space: nowrap;
                    font-family: 'POORICH';
                    font-size: clamp(3.6rem, 2.5vw + 1.5rem, 8rem);
                    font-weight: 500;
                    color: #FECB73;
                    letter-spacing: 0.3rem;
                }

                p {
                    display: block;
                    padding: 0 2.4rem;
                    font-family: 'Pretendard-Regular';
                    color: rgba(255, 255, 255, 0.6);
                    font-size: clamp(1.6rem, 1vw + 0.5rem, 1.8rem);
                    line-height: 1.4;
                    word-break: keep-all;
                }
            }

            .list_wrap {
                display: flex;
                justify-content: space-between;
                position: relative;
                height: 250vh;



                .left_text {
                    width: 45%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 7.5rem;

                    h4 {
                        font-size: clamp(2.8rem, 4vw + 1rem, 6.4rem);
                        color: rgba(255, 255, 255, 0.4);
                        cursor: pointer;

                        &.active {
                            color: #fff;
                        }
                    }
                }

                .right_image {
                    width: 45%;
                    position: relative;

                    .item {
                        width: 100%;
                        position: absolute;
                        opacity: 0;

                        &.active {
                            opacity: 1;
                        }

                        .image {
                            width: 100%;
                            height: 61.2rem;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .text {
                            margin-top: 1rem;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 0.5rem;

                            p {
                                font-size: clamp(1.8rem, 1.5vw + 1rem, 2.4rem);
                                color: #fff;
                            }

                            span {
                                font-weight: 300;
                                font-size: clamp(1.2rem, 1vw + 0.5rem, 1.8rem);
                                color: rgba(255, 255, 255, 0.7);
                                line-height: 1.2;
                                word-break: keep-all;
                            }
                        }
                    }
                }

                .left_text {
                    position: sticky;
                    top: 20vh;
                    height: fit-content;
                }


                .right_image {
                    position: sticky;
                    top: 20vh;
                    height: 74vh;
                }
            }
        }
    }

    .section-05 {
        margin-top: clamp(12rem, 18vh + 2.2rem, 20rem);

        .inner {
            max-width: 176rem;
            width: calc(100% - 60px);
            margin: 0 auto;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 1.8rem;
                margin-bottom: clamp(5rem, 5vw + 1rem, 10rem);

                h3 {
                    display: flex;
                    white-space: nowrap;
                    font-family: 'POORICH';
                    font-size: clamp(3.6rem, 2.5vw + 1.5rem, 8rem);
                    font-weight: 500;
                    color: #FECB73;
                    letter-spacing: 0.3rem;
                }

                p {
                    display: block;
                    /* padding: 0 clamp(0.8rem, 3vw + 0.2rem, 2.4rem); */
                    font-family: 'Pretendard-Regular';
                    color: rgba(0, 0, 0, 0.6);
                    font-size: clamp(1.6rem, 1vw + 0.5rem, 1.8rem);
                    line-height: 1.4;
                    word-break: keep-all;
                }
            }

            /* 전체 컨테이너가 100vh 높이 */
            .horizontal-scroll-container {
                width: 100%;
                overflow: hidden;
                position: relative;


                /* 내부 아이템들을 가로로 배치 */
                .horizontal-wrapper {
                    display: flex;
                    flex-direction: row-reverse;
                    width: fit-content;
                    /* flex-wrap: wrap; */

                    .horizontal-item {
                        width: 100%;
                        /* 각 아이템이 화면 너비만큼 차지 */
                        background-color: rgb(255, 255, 255);
                        margin-right: 3rem;
                        /* 아이템 간격 */


                        a {
                            display: block;
                            width: 100%;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .text {
                            margin-top: 1rem;

                            p {
                                font-size: clamp(1.2rem, 1vw + 0.5rem, 1.8rem);
                                font-weight: 600;
                                font-family: 'Pretendard-Regular';
                                color: #111;

                            }

                            span {
                                font-size: clamp(1.2rem, 1vw + 0.6rem, 1.6rem);
                                color: rgba(0, 0, 0, 0.4)
                            }
                        }
                    }
                }
            }

        }
    }
}

.footer {
    width: 100%;
    font-family: 'Pretendard-Regular';
    background-color: #203163;
    color: #fff;
    padding: 4rem 0;


    .inner {
        max-width: 176rem;
        width: calc(100% - 60px);
        margin: 0 auto;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
            }

            .left {
                gap: 3rem;
                font-size: 1.8rem;
                color: rgba(255, 255, 255, 0.6);

                li {
                    &:hover {
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }

            .right {
                gap: 4.8rem;
                font-size: 3.2rem;
                font-weight: 600;
                letter-spacing: 1px;
                color: #fff;


                li {
                    &:hover {
                        color: #FECB73;
                    }
                }
            }
        }

        .center {
            margin: 5rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .list1 {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                strong {
                    font-size: 3.6rem;
                    font-weight: bold;
                    line-height: 1.2;
                    letter-spacing: 1px;
                }

                .time {
                    display: flex;
                    flex-direction: column;


                    p {
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 1.6;
                        letter-spacing: 1px;
                        color: rgba(255, 255, 255, 0.6);

                        span {
                            color: #fff;
                            margin-left: 0.8rem;
                        }
                    }
                }
            }

            .list2 {

                width: 20%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .list3 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 2.4rem;

                .image {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 1.2rem;

                    img {
                        width: 12rem;
                        height: 3rem;
                        object-fit: cover;
                    }

                    span {
                        display: block;
                        font-size: 1.6rem;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }

                .bank {
                    display: flex;
                    flex-direction: column;

                    text-align: left;

                    strong {
                        font-size: 1.8rem;
                        line-height: 1.6;
                    }

                    p {
                        font-size: 1.8rem;
                        line-height: 1.6;
                    }

                    .number {
                        color: rgba(255, 255, 255, 0.9);
                    }

                    .name {
                        color: rgba(255, 255, 255, 0.6);

                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .bottom {
            gap: 1.2rem;
            display: flex;
            flex-direction: column;

            .line {
                width: 0.2rem;
                height: 1.6rem;
                background-color: rgb(255, 255, 255, 0.6);
            }

            .list {
                display: flex;
                gap: 1.2rem;
            }

            .left,
            .right {
                display: flex;
                gap: 1.2rem;
            }

            .front {
                font-size: 1.6rem;
                color: rgba(255, 255, 255, 0.6);
                font-weight: 400;
                letter-spacing: 1px;
            }

            .back {
                font-size: 1.6rem;
                color: #fff;
                letter-spacing: 1px;
            }

            .right {
                span {
                    color: #fff;
                }
            }

            &>p {
                margin-top: 1.6rem;
                font-size: 1.4rem;
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}




/* 메인 비주얼 이미지 애니메이션 */
@keyframes updown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

/* 메인 비주얼 이미지 그림자 애니메이션 */
@keyframes shadowPulse {
    0% {
        transform: scale(0.9) translateX(-50%);
        opacity: 0.8;
    }

    50% {
        transform: scale(0.8) translateX(-50%);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.9) translateX(-50%);
        opacity: 0.8;
    }
}


@keyframes scrollmove {
    0% {
        transform: translate(-50%, 30%);
    }

    50% {
        transform: translate(-50%, 0%);
    }

    100% {
        transform: translate(-50%, 30%);
    }

}


@keyframes scrollmoves {
    0% {
        transform: translate(-50%, 30%);
    }

    50% {
        transform: translate(-50%, 0%);
    }

    100% {
        transform: translate(-50%, 30%);
    }

}



@media screen and (max-width: 1300px) {
    .main {

        .section-02 {
            .inner {
                .scroll_wrap {
                    .scroll_right {
                        .rev {
                            font-size: 4.4rem;

                            span {
                                font-size: 2.8rem;
                            }
                        }
                    }
                }
            }
        }

        .section-03 {

            &::after {
                height: 14rem;
            }
        }

        .section-04 {
            .inner {
                .list_wrap {
                    display: block;
                    height: auto;
                    flex-wrap: wrap;

                    .left_text {
                        position: relative;
                        width: 100%;
                        z-index: 2;
                        top: -7rem;
                        gap: 4.5rem;
                        padding: 15rem 0;

                    }

                    .right_image {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        width: 100%;
                        z-index: 0;
                    }
                }
            }
        }
    }

    .footer {
        .inner {
            .top {
                flex-wrap: wrap;
                gap: 4rem;
            }

            .center {

                /*                 flex-wrap: wrap;
                justify-content: center; */
                .list2 {
                    display: none;
                }

                .list1,
                .list3 {
                    width: 45%;
                }
            }
        }

    }
}

/* 태블릿 max */
@media screen and (max-width: 1024px) {
    .header {
        .inner {
            .mobile {
                width: 50%;
            }
        }
    }

    .main {
        .section-01 {
            .inner {
                .text_wrap {
                    .text {
                        width: 70%;
                    }
                }

                .image_wrap {
                    img {
                        width: 40%;

                        &.img7 {
                            left: 10%;

                        }
                    }
                }
            }
        }

        .section-03 {
            padding: 14rem 0;
        }

        .section-04 {
            padding-bottom: 6rem;
            padding-bottom: 6rem;

            .inner {
                .list_wrap {
                    .right_image {
                        .item {
                            .text {
                                margin-bottom: 7rem;

                                p {
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }
        }


        .section-05 {
            margin-top: 14rem;

            .inner {
                .horizontal-scroll-container {
                    .horizontal-wrapper {
                        flex-wrap: wrap;

                        .horizontal-item {
                            margin-right: 0;

                            .text {
                                p {
                                    font-size: 2.4rem;
                                }

                                span {
                                    font-size: 1.8rem;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

/* 모바일 max */
@media screen and (max-width: 768px) {
    .header {
        .inner {
            .mobile {
                width: 50%;
            }
        }
    }

    .main {

        .section-02 {
            margin-bottom: 15rem;
            height: 275vh;
        }

        .section-02 .inner .scroll_wrap {
            /* gap: 32rem; */
            display: block;

            .fixed_left {

                opacity: 0.2;

                .text {
                    padding: 0;
                }

                &::after {
                    height: 66rem;
                }
            }

            .scroll_right {
                margin-top: 50rem;
                margin-left: 3rem;
                gap: 4rem;
                z-index: 0;

                .rev {
                    margin-top: 3rem;
                }
            }
        }

        .section-04 {
            .inner {
                .text {
                    margin-bottom: 5rem;
                }
            }
        }



        .section-05 {
            .inner {
                .text {
                    margin-bottom: 3rem;
                    gap: 0.8rem;
                }

                .horizontal-scroll-container {
                    .horizontal-wrapper {
                        .horizontal-item {
                            .text {
                                p {
                                    font-size: 2rem;
                                }

                                span {
                                    font-size: 1.6rem;
                                }
                            }

                        }
                    }
                }
            }
        }


    }

    .footer {
        .inner {
            .top {
                justify-content: center;

                .left {
                    font-size: 1.6rem;
                }

                .right {
                    font-size: 1.8rem;
                }
            }

            .center {
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;


                .list1 {
                    width: 100%;
                    text-align: center;
                }

                .list3 {
                    width: 100%;
                    align-items: center;

                    .bank {
                        p {}
                    }

                    .image {
                        align-items: center;

                        span {
                            white-space: nowrap;
                            font-size: 1.4rem;
                        }
                    }
                }

            }

            .bottom {
                flex-wrap: wrap;

                .front {
                    font-size: 1.4rem;
                    word-break: keep-all;
                    white-space: nowrap;
                }

                .back {
                    font-size: 1.4rem
                }

                .list {
                    flex-wrap: wrap;
                }
            }
        }
    }
}

/* 모바일 */
@media screen and (max-width: 500px) {
    .header {
        height: 7rem;

        .inner {

            .logo {
                /* display: none; */
                width: 12rem;
            }

            .mobile {
                width: 55%;
            }
        }
    }

    .main {
        .main_visual {
            .inner {
                .title_box {
                    margin-bottom: 2rem;
                }

                .video_wrap {
                    .video {
                        width: 100% !important;
                    }
                }
            }
        }

        .section-01 {
            padding-top: 12rem;

            .inner {
                .text_wrap {
                    .text {
                        width: 100%;

                        h4 {
                            padding: 0;
                        }
                    }
                }

                .image_wrap {
                    margin-top: 15rem;
                    flex-wrap: wrap;
                    width: 100%;
                    overflow: hidden;

                    .left_box {
                        transform: rotate(0) translateX(0);
                        gap: 5rem;
                    }

                    .right_box {
                        transform: rotate(0) translateX(0);
                        gap: 5rem;

                        img:last-child {
                            display: none;
                        }
                    }

                    gap: 5rem;

                    img {
                        width: 100%;
                        opacity: 0.7;
                    }
                }
            }
        }

        .section-02 {
            margin-bottom: 15rem;
            height: 275vh;
        }

        .section-02 .inner .scroll_wrap {
            gap: 32rem;

            .fixed_left {

                opacity: 0.2;

                .text {
                    padding: 0;
                }

                &::after {
                    height: 66rem;
                }
            }

            .scroll_right {
                margin-top: 50rem;
                margin-left: 3rem;
                gap: 4rem;
                z-index: 0;

                .rev {
                    margin-top: 3rem;
                }
            }
        }

        .section-03 {
            padding: 7rem 0;

            .inner {

                .item_wrap {
                    .item {

                        width: 100%;

                        .text {
                            opacity: 1;
                        }
                    }
                }
            }

            &::after {
                height: 12rem;
            }
        }

        .section-04 {
            padding-bottom: 10rem;

            .inner {

                .text {
                    padding-top: 5rem;
                    margin-bottom: 4rem;
                }
            }

            .list_wrap {

                .left_text {
                    width: 0%;

                    h4 {
                        font-size: 1.8rem;
                    }
                }

                .right_image {
                    position: absolute;
                    width: 100%;

                    .item {
                        &>.text {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {

    .header {
        height: 7rem;
    }



    .main {
        .inner {
            width: calc(100% - 30px);
        }

        .main_visual {
            .inner {
                .title_box {
                    margin-bottom: 5rem;
                    padding-top: 16rem;
                }
            }
        }


        .section-01 {
            &::after {
                height: 13rem;
            }
        }

        .section-02 {
            height: 235vh;

            .inner {
                .scroll_wrap {
                    height: 188vh;

                    .scroll_right {

                        .rev {
                            margin-top: 2rem;
                            font-size: 3.4rem;
                        }

                        .rev:last-child {
                            font-size: 11rem;
                        }
                    }
                }
            }
        }

        .section-03 {

            &::after {
                height: 10rem;
            }

            .inner {
                .text {
                    h3 {
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }

    .footer {
        .inner {
            .top {
                .right {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            .center {
                .list3 {
                    .image {
                        padding: 0 2rem;

                        span {
                            white-space: unset;
                        }
                    }
                }
            }

            .bottom {
                .front {
                    font-size: 1.2rem;
                }
            }
        }
    }

}