@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
/*
.rufina-regular {
  font-family: "Rufina", serif;
  font-weight: 400;
  font-style: normal;
}

.rufina-bold {
  font-family: "Rufina", serif;
  font-weight: 700;
  font-style: normal;
}
 */

@font-face {
    font-family: 'POORICH';
    src: url('./fonts/POORICH.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* POOR RICHARD */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* PRETENDARD */


html,
body {
    font-size: 62.5%;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    height: 9rem;
    background-color: transparent;


    .inner {
        max-width: 176rem;
        width: calc(100% - 60px);
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        .mobile {
            order: -1;
            width: 40%;
            height: 100vh;
            background-color: #203163;
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-100%);
            transition: 0.7s;

            &.active {
                transform: translateX(0);
            }

            .mobile_inner {
                padding: 0 clamp(3rem, 2.5vw, 8rem);
                margin: 0 auto;
                

                .mobile_header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 9rem;


                    h2 {
                        font-family: "Rufina", serif;
                        font-size: clamp(2.rem, 2.5vw, 4.2rem);
                        white-space: nowrap;
                        
                    }

                    .menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 3rem;
                        height: 3rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .mobile_info {
                    margin-top: 4rem;

                    .mobile_gnb {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 2rem;

                        .depth-01 {
                            font-family: 'POORICH';
                            display: block;
                            font-size: clamp(3rem, 3.8vw, 7.8rem);
                            margin-bottom: 3rem;

                            &:hover {
                                color: #FECB73;
                            }

                            &.active {
                                color: #FECB73;
                            }
                        }

                        .depth-02 {
                            display: none;

                            li {
                                font-size: clamp(2rem, 2vw, 4rem);
                                color: rgba(255, 255, 255, 0.7);
                                margin-bottom: 2rem;
                                padding-left: 2rem;
                                a {
                                    display: block;
                                        
                                }

                                &:hover {
                                    color: #fff;
                                }
                            }
                        
                        }
                    }
                }

            }


        }

        .logo {
            max-width: clamp(16rem, 1.29vw + 11.51rem, 18rem);
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
        }

        .nav {
            font-family: 'POORICH';
            order: -1;

            .menu {
                display: flex;
                align-items: center;

                .image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    height: 3rem;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    font-size: 3rem;
                    color: #203163;
                    font-weight: 500;
                }
            }
        }


        .option {
            display: flex;
            gap: 1rem;

            a {
                display: block;
                width: 3rem;
                height: 3rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


/* 태블릿 max */
@media screen and (max-width: 1024px) {
    .header {
        .inner {
            .mobile {
                width: 50%;
            }
        }
    }
}

/* 모바일 max */
@media screen and (max-width: 768px) {
    .header {
        .inner {
            .mobile {
                width: 50%;
            }
        }
    }
}



@media screen and (max-width: 500px) {
    .header {
        .inner {
            .mobile {
                width: 55%;
            }
        }
    }
}